---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Julio 2024",
    title: "Desarrollador Web Full-Stack",
    company: "MURAL TÁCTIL",
    description:
      "Colaboré en el desarrollo del sistema de administración web de CENAGAS con aplicaciones AppSheet integradas a una API REST, optimizando la accesibilidad e integridad de datos. Además, diseñé un CMS para su Landing Page y gestioné servicios en la nube con Microsoft Azure y App Services.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
