---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Julio 2024",
    title: "Desarrollador Web Full-Stack",
    company: "MURAL TÁCTIL",
    description:
      "Colaboré en el desarrollo del sistema de administración web del Centro Nacional de Control del Gas Natural (CENAGAS), diseñando el dashboard y optimizando la gestión de documentos y registros administrativos. Implementé aplicaciones en AppSheet integradas a una API REST para mejorar la accesibilidad y la integridad de los datos, permitiendo actualizaciones desde dispositivos móviles. Además, desarrollé un CMS para la Landing Page, facilitando la edición de contenidos, y gestioné servicios en la nube con Microsoft Azure y App Services, incluyendo bases de datos y servicios de automatización.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
